<section>
    <h1 class="h2 fw-bold pb-2">Register now</h1>
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
        <div class="my-2">
            <label for="name">Name:</label>
            <input id="name" type="text" class="form-control mb-3" formControlName="name">
            @if(registerForm.get('name')?.errors && registerForm.get('name')?.touched ) {
                <div class="alert alert-danger text-danger">
                    @if (registerForm.get('name')?.getError('required')) {
                        <p class="m-0">name is required</p>
                    }
                    @else if (registerForm.get('name')?.getError('minlength')) {
                        <p class="m-0">name min length is 3</p>
                    }
                </div>
            }
        </div>
        <div class="my-2">
            <label for="email">Email:</label>
            <input id="email" type="email" class="form-control mb-3" formControlName="email">
            @if(registerForm.get('email')?.errors && registerForm.get('email')?.touched ) {
                <div class="alert alert-danger text-danger">
                    @if (registerForm.get('email')?.getError('required')) {
                        <p class="m-0">email is required</p>
                    }
                    @else if (registerForm.get('email')?.getError('email')) {
                        <p class="m-0">enter valid email</p>
                    }
                </div>
            }
        </div>
        <div class="my-2">
            <label for="password">Password:</label>
            <input id="password" type="password" class="form-control mb-3" formControlName="password">
            @if(registerForm.get('password')?.errors && registerForm.get('password')?.touched ) {
                <div class="alert alert-danger text-danger">
                    @if (registerForm.get('password')?.getError('required')) {
                        <p class="m-0">Password is required</p>
                    }
                    @else if (registerForm.get('password')?.getError('pattern')) {
                        <p class="m-0">enter valid password</p>
                    }
                </div>
            }
        </div>
        <div class="my-2">
            <label for="rePassword">RePassword:</label>
            <input id="rePassword" type="password" class="form-control mb-3" formControlName="rePassword">
            @if(registerForm.getError('mismatch') && registerForm.get('rePassword')?.touched){
                <p class="alert alert-danger text-danger m-0">password confirmation is incorrect</p>
            }
        </div>
        <div class="my-2">
            <label for="phone">phone:</label>
            <input id="phone" type="tel" class="form-control mb-3" formControlName="phone">
            @if(registerForm.get('phone')?.errors && registerForm.get('phone')?.touched ) {
                <div class="alert alert-danger text-danger">
                    @if (registerForm.get('phone')?.getError('required')) {
                        <p class="m-0">phone is required</p>
                    }
                    @else if (registerForm.get('phone')?.getError('pattern')) {
                        <p class="m-0">enter valid phone</p>
                    }
                </div>
            }
        </div>
        <button [disabled]="registerForm.invalid || isloading" type="submit" class="btn-main ms-auto d-block">Register now
            @if (isloading) {
                <span><i class="fas fa-spin fa-spinner fs-5"></i></span>
            }
        </button>
        @if (msgError) {
            <p class="alert alert-danger m-0">{{msgError}}</p>
        }
    </form>
    
</section>