<section>
    <div class="container">
        @if (step == 1) {
            <h2 class="fw-semibold">reset your account password</h2>
        <form [formGroup]="verfiyEmail" (ngSubmit)="verfiyEmailSubmit()">
            <div>
                <input formControlName="email" type="email" id="email" class="form-control p-2 mb-2" placeholder="Email">
            </div>
            <button  type="submit" class="btn-main">Verfiy</button>
        </form>
        }
        @else if (step == 2) {
            <h2 class="fw-semibold">please enter your verification code</h2>
        <form [formGroup]="verfiyCode" (ngSubmit)="verfiyCodeSubmit()">
            <div>   
                <input formControlName="resetCode" type="text" id="code" class="form-control p-2 mb-2" placeholder="code">
            </div>
            <button  type="submit" class="btn-main">Verfiy</button>
        </form>
        }
        @else if (step == 3) {
            <h2 class="fw-semibold">reset your account password</h2>
        <form [formGroup]="resetPassword" (ngSubmit)="resetPassSubmit()">
            <div>
                <input formControlName="email" type="email" id="email" class="form-control p-2 mb-2" placeholder="Email">
                <input formControlName="newPassword" type="password" id="newPassword" class="form-control p-2 mb-2" placeholder="newPassword">
            </div>
            <button  type="submit" class="btn-main">Reset Password</button>
        </form>
        }
    </div>
</section>