<section>
    <div class="container my-5">
        <div class="row g-3">
            @for (cat of categoryList; track $index) {
                <div class="col-md-4">
                    <div class="product border">
                        <div class="image">
                            <img alt="" class="w-100" style="height: 400px;" [src]="cat.image">
                        </div>
                        <div class="content p-2">
                            <h4 class="text-main text-center fw-semibold">{{cat.name}}</h4>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
